<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>echobin</title>
</head>
<body>
    <h1>TAKE</h1>
    {% if user.is_active %}
    <h3>{{user.username}}</h3>
    <div id="map" style="width:500px;height:400px;"></div>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=daf89027da7006b79fdd53131914d57b&libraries=services,clusterer,drawing"></script>
    
    <script>
        function findLocation() {
            if (navigator.geolocation) { 
                var positionOption = {
                    enableHighAccuracy: true,
                    maximumAge: 0,
                    timeout: 3000
                };
                
                navigator.geolocation.getCurrentPosition(showYourLocation, showErrorMsg, positionOption); 
            } else { 
                loc.innerHTML = "웹 브라우저가 Geolocation API를 지원하지 않습니다!"; 
            }
        }

        function showErrorMsg(error) {
            switch(error.code) {
                case error.PERMISSION_DENIED:
                loc.innerHTML = "Geolocation API의 사용 요청을 허가해 주십시오."
                break;
                case error.POSITION_UNAVAILABLE:
                loc.innerHTML = "가져온 위치 정보를 사용할 수 없습니다."
                break;
                case error.TIMEOUT:
                loc.innerHTML = "요청 허용 시간을 초과하였습니다."
                break;
                case error.UNKNOWN_ERROR:
                loc.innerHTML = "미확인 오류발생..."
                break;
            }
        }

        function showYourLocation(position) {
            var Lat = position.coords.latitude;
            var Lng = position.coords.longitude;

            var container = document.getElementById('map');
            var options = {
                center: new kakao.maps.LatLng(Lat, Lng),
                level: 3
            };

            var map = new kakao.maps.Map(container, options);

            // 마커가 표시될 위치입니다 
            var markerPosition  = new kakao.maps.LatLng(Lat, Lng); 

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                position: markerPosition
            });

            // 마커가 지도 위에 표시되도록 설정합니다
            marker.setMap(map);
        }

        window.addEventListener("load", findLocation);
    </script>
    
    <a href="{% url 'logout'%}">로그아웃</a>
    {% else %}
    <a href="{% url 'login'%}">로그인</a>
    <a href="{% url 'signup'%}">회원가입</a>
    {% endif %}
    <a href="{% url 'market'%}">가게 등록</a>
</body>
</html>